* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1.1rem;
    font-style: normal;
    color: #f2f2f2;
    text-decoration: none;
    list-style: none;    
    /* border: 1px solid #96176a;  */
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.body{
    background-color: #2e2e2e;
}
.bttn {
    background-color: #F22797;    
    font-weight: bold;
    border-radius: 10px;
    padding: 15px 30px;
    transition: background .4s ease-in, color .9s ease-in ;
}
.bttn:hover{
    color: #aaa9a9;
    background-color: #97105a
}
.separadores{
    border: none;
    height: 3px;
    background-image: radial-gradient(#f22797, #1E3259); 
}
.navbar {
    background-color: #1E3259;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.navbar__nav__icon  {
    width: 30px;
    height: 30px;
}
.navbar__nav__list {
    display: flex;
    gap: 25px;
    flex-direction: row;
}
.jumbotron{
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
}
.jumbotron__img{
    background-color: #000000;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    filter: brightness(50%);
    filter: saturate(120%);
    filter: opacity(59%);
}

.jumbotron__txt{
    font-size: 4.5rem;
    font-weight: 600;
    @media (max-width: 672px) {
        font-size: 2.5rem;
    }
}
.jumbotron__txt2{
    font-size: 6.6rem;
    font-weight: bold;
    @media (max-width: 672px) {
        font-size: 2.5rem;
    }
}
.jumbotron__bttn{
    overflow: hidden;
    margin-top: 20px;
    border-radius: 7.5px;
}
.jumbotron button {
    transition: border .3s ease-in;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.1rem;
    border: solid 5px transparent;
    background: transparent;
    border-image: linear-gradient(180deg, #f22797, #1E3259);
    border-image-slice: 1;   
    cursor: pointer;
}
.jumbotron button:hover{
    transition: border .3s ease-in;    
    border-image: linear-gradient(45deg, #f22797, #1E3259);
    border-image-slice: 1;   
} 
/* este estilo se le aplica a todas las tarjetas, tanto de la parte de plataformas como a la de revolucion digital */
.contenido {
    margin-bottom: 100px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 70px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 30px;
    margin: 30px;
}
.contenedor__tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
    border: 4px solid;
    height: 100%;
    border-image: linear-gradient(180deg, #f22797, #1E3259);
    border-image-slice: 1;
}
.contenedor__tarjetas__icon{
    width: 30%;
    height: 25%;
}
.contenedor__tarjetas__title{
    font-weight: bold;
    margin: 40px;
    text-align: center;
}
.contenedor__tarjetas__txt{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 40px;
}
/* Esta parte del contenido 2 se refiere a la 2da seccion de la pagina, la parte que esta intercalando de derecha a izquierda y visceversa*/
.contenidoII{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/img_texture.png');
    background-size: cover;
}
.contenidoII__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px
}
.contenidoII__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    gap: 10px;
    margin-bottom: 7%;      
}
.contenidoII__contenedor__todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
}
.contenidoII__contenedor__todo__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contenidoII__contenedor__todo__txt__title{
    font-weight: bold;
}
.contenidoII__contenedor__todo__txt__p{
    text-align: center;
    font-size: 0.9rem;
    margin: 30px;
}
.contenidoII__contenedor__todo__contenedor__txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
}
.contenidoII__contenedor__todo__contenedor__bttn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
/* Aqui estan todos los estilos para la galeria de imagenes */
.leyendas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/img/texture.jpg);
    background-size: cover;
}
.leyendas h2{
    margin-top: 100px;
}
.organizador{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;

}
.container{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 500px;
    perspective: 800px;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}
.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    transition: transform 1500ms;
}
.front, .back{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgb(50, 50, 50, 0.25);
    position: absolute;
    object-fit: cover;
    backface-visibility: hidden;
    border-radius: 10px
}


.back{
    background-color: #0d0c0cb2;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 20px;
}
.footerbar {
    background-color: #1E3259;
    padding: 16px 20px;
}
.footerbar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.footerbar__nav__icon  {
    width: 30px;
    height: 30px;
}
